body {

    margin-bottom: 70px;
}

#header {
    color: white;
    background-color: #0D5373;
}

.header-title {
    text-transform: uppercase;
    font-family: 'Ledger', serif;
}

#header a {
    color: #1BAEF0;
}

#header .larger {
    font-size: 1.15em;
}

#header .larger2 {
    font-size: 1.15em;
}

a {
    color: #1BAEF0;
}

#nav {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #0D5373;
    padding-bottom: 15px;
}

.wrapper {
    padding: 15px;
}

#nav .nav {
    border-bottom: 1px solid #0E0847;
    margin-bottom: 0px;
}

table.e-service-table {
    width: auto;
    table-layout: fixed;
}

table.e-service-table tbody td {
    padding: 7px 20px 7px 17px;
    text-align: center;
    border: 1px solid #ddd;
    width: 50%;
}

.e-fixed-footer {
    color: white;
    background-color: #0D5373;
    height: 70px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #777;
}

.e-fixed-footer-title {
    padding-bottom: 15px;
}

span.e-fixed-footer-call {
    line-height: 35px;
}

span.e-fixed-footer-call a {
    color: #1BAEF0;
}

span.e-fixed-footer-call img {
    margin-top: -2px;
    padding-right: 4px;
    width: 20px;
    height: 20px;
    display: inline;
}

a.non-link {
    cursor: default;
}

div.wrapper {
    padding-left: 25px;
    padding-right: 50px;
}
