body {
    padding: 15px;
    margin-bottom: 70px;
}

table.e-service-table {
    width: auto;
    table-layout: fixed;
}

table.e-service-table tbody td {
    padding: 7px 20px 7px 17px;
    text-align: center;
    border: 1px solid #ddd;
    width: 50%;
}

.e-fixed-footer {
    background-color: white;
    height: 70px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #777;
}

.e-fixed-footer-title {
    padding-bottom: 15px;
}

span.e-fixed-footer-call {
    line-height: 35px;
}

span.e-fixed-footer-call img {
    margin-top: -2px;
    padding-right: 4px;
    width: 18px;
    height: 18px;
    display: inline;
}

a.non-link {
    cursor: default;
}

div.wrapper {
    padding-left: 25px;
    padding-right: 50px;
}
